<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

    <!--   Content container -->
    <div class='container'>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 panel-title app-types">
                        Feedback
                    </div>
                </div>
            </div>
             <div class="panel-body" >
                <form action="#" th:action="@{/feedback}" th:object="${feedback}" method="post">
                    <div class="form-group">
                        <label for="emailField">Email</label>
                        <input th:field="*{email}" type="email" class="form-control" id="emailField" placeholder="Email" required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="messageField">Message</label>
                        <input th:field="*{message}" type="text" class="form-control" id="messageField" placeholder="Message" required="true"/>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input th:field="*{cool}" type="checkbox"/> Cool or Not?
                        </label>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label for="exceptionField">Exception</label>
                        <textarea class="form-control" th:if="*{exceptionStr != null}" th:field="*{exceptionStr}" type="text" id="exceptionField" required="false"></textarea>
                    </div>
                    <div>
                        <br/>
                        <button type="reset"  class="btn btn-default">Reset</button>&nbsp;&nbsp;
                        <button type="submit" class="btn btn-default">Email Form Data to Me</button>
                    </div>
                </form>
                <br/>
             </div>
        </div>
    </div>
    <!-- / Content container. -->

</body>
</html>
