<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

    <!--   Content container -->
    <div class="container-lg">
        <div class="card">
            <div class="card-header border-1">
                <h4 class="ml-2 ml-sm-0 my-0">Feedback</h4>
            </div>
            <div class="card-body text-left">
                <form action="#" th:action="@{/feedback}" th:object="${feedback}" method="post">
                    <div class="form-group">
                        <label for="emailField">Email</label>
                        <input th:field="*{email}" type="email" class="form-control" id="emailField" placeholder="Email" required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="messageField">Message</label>
                        <input th:field="*{message}" type="text" class="form-control" id="messageField" placeholder="Message" required="true"/>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input th:field="*{cool}" type="checkbox"/> Cool or Not?
                        </label>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label for="exceptionField">Exception</label>
                        <textarea class="form-control" th:if="*{exceptionStr != null}" th:field="*{exceptionStr}" type="text" id="exceptionField" required="false"></textarea>
                    </div>
                    <div>
                        <br/>
                        <button type="reset" class="btn btn-outline-secondary">Reset</button>&nbsp;&nbsp;
                        <button type="submit" class="btn btn-outline-primary">Email Form Data to Me</button>
                    </div>
                </form>
                <br/>
             </div>
        </div>
    </div>
    <!-- / Content container. -->

</body>
</html>
