<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MMM-dd HH:mm:ss} %-5p %c - %m%n" />
        </layout>
    </appender>
    
    <!-- Application Loggers -->
    <logger name="edu.hawaii.its.casdemo">
        <level value="info" />
    </logger>
        
    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
        <level value="info" />
    </logger>
    
    <logger name="org.springframework.beans">
        <level value="info" />
    </logger>
    
    <logger name="org.springframework.jdbc">
        <level value="info" />
    </logger>

    <logger name="org.springframework.security">
        <level value="debug" />
    </logger>    
    <logger name="org.springframework.security.access">
        <level value="debug" />
    </logger>
    <logger name="org.springframework.security.cas.authentication.CasAuthenticationProvider">
        <level value="debug" />
    </logger>                
    <logger name="org.springframework.security.web.FilterChainProxy">
        <level value="debug" />
    </logger>                   
    <logger name="org.springframework.security.web.util">
        <level value="debug" />
    </logger>
    <logger name="org.springframework.security.web.access">
        <level value="debug" />
    </logger>
    <logger name="org.springframework.security.web.access.ExceptionTranslationFilter">
        <level value="debug" />
    </logger>    
    <logger name="org.springframework.security.web.authentication.AnonymousAuthenticationFilter">
        <level value="debug" />
    </logger>        
    <logger name="org.springframework.security.web.context.SecurityContextPersistenceFilter">
        <level value="debug" />
    </logger>
    <logger name="org.springframework.security.web.context.HttpSessionSecurityContextRepository">
        <level value="debug" />
    </logger>        
    <logger name="org.springframework.security.web.savedrequest">
        <level value="debug" />
    </logger>             
    <logger name="org.springframework.security.web.session">
        <level value="debug" />
    </logger>
    
    <logger name="org.jasig.cas.client.validation">
        <level value="debug" />
    </logger>
    <logger name="org.jasig.cas.client.validation.Saml11TicketValidator">
        <level value="debug" />
    </logger>                                                
    <logger name="org.jasig.cas.client.session">
        <level value="debug" />
    </logger>
    <logger name="org.jasig.cas.client.util.CommonUtils">
        <level value="error" />
    </logger>

    <logger name="org.hibernate">
        <level value="info" />    
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="info" />
        <appender-ref ref="console" />
    </root>
    
</log4j:configuration>
