<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

    <!--  Content container -->
    <div class="container">
        <div class="card border-1">
            <div class="card-header border-1">
                <h4 class="ml-2 ml-sm-0 my-0">Login Details</h4>
            </div>
            <div class="card-body text-left">
                <div class="table-responsive">
                    <table class="table table-sm table-borderless table-hover">
                        <thead>
                            <tr class="border-bottom">
                                <th>Attribute</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>                        
                            <tr th:each="entry : ${user.attributes.map}">
                                <td th:text="${entry.key}">&nbsp;</td>
                                <td class="uh-pre"><span th:text="${#strings.arrayJoin(entry.value, ', ')}"></span></td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content container. -->

    <div th:replace="footer :: copy"></div>

</body>
</html>
