<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

    <!--  Content container -->
    <div class="container">
        <div class="card border-1">
            <div class="card-header border-1">
                <h4 class="ml-2 ml-sm-0 my-0">Login Details</h4>
            </div>
            <div class="card-body text-left">
                <div class="table-responsive">
                    <table class="table table-sm table-hover ">
                        <tbody>
                            <tr>
                                <td colspan="3">Selected CAS Login Details</td>
                            </tr>
                            <tr>
                                <td colspan="1">uid</td>
                                <td colspan="2"><span th:text="${user.uid}"></span></td>
                            </tr>
                            <tr>
                                <td colspan="1">username</td>
                                <td colspan="2"><span th:text="${user.username}"></span></td>
                            </tr>
                            <tr>
                                <td colspan="1">uhuuid</td>
                                <td colspan="2"><span th:text="${user.uhuuid}"></span></td>
                            </tr>
                            <tr>
                                <td colspan="1">cn</td>
                                <td colspan="2"><span th:text="${user.name}"></span></td>
                            </tr>
                            <tr>
                                <td colspan="1" style="white-space: nowrap">All Attributes</td>
                                <td colspan="2" class="uh-pre"><span th:text="${user.attributes.map}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content container. -->

    <div th:replace="footer :: copy"></div>

</body>
</html>
