/* -------------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  padding-bottom: 40px;
}

.text-responsive {
  font-size: calc(90%);
}

h4 {
  color: #bd9319;
  font-size: 1.2em;
}

.goldify {
  color: #bd9319;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:hover {
  color: #0275d8;
  text-decoration: underline;
}

td.uh-pre {
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
}

.uh-branding-one {
  font-family: cinzel-regular, serif;
  font-size: 1.6em;
  font-style: normal;
  letter-spacing: 2.2px;
  color: #777;
}

.uh-branding-two {
  font-family: cormorant-upright-regular, cursive;
  font-size: 0.8em;
  font-style: normal;
  color: #777;
}

.card-header {
  background-color: #f5f8ff;
}

.jumbotron {
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #f5f8ff;
}

.navbar-brand.uh-nav-app-name { /* csslint allow: adjoining-classes */
  color: #bd9319;
  font-family: alegreyasans-regular, opensans-regular, serif;
  font-size: 26px;
  font-weight: normal;
}

.navbar-brand.uh-nav-app-name:hover { /* csslint allow: adjoining-classes */
  color: #b08a17;
}

.dropshadow {
  text-shadow: 1px 2px 3px rgba(150, 150, 150, 1);
}

.amp {
  font-family: alice-regular, alegreyasans-regular, opensans-regular, serif;
  font-weight: normal;
  font-size: 90%;
}

.footer {
  position: absolute;
  padding-top: 10px;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: 100%;
  text-align: center;
}

.a-link.btn-link {
  color: #0275d8;
  text-decoration: none;
  padding: 0;
}

.a-link.btn-link:focus,
.a-link.btn-link:hover {
  color: #0275d8;
  text-decoration: underline;
}
