<head th:fragment="copy" th:remove="tag">
    <title>UH CAS Demo</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="css/main.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/angular-ui-grid/4.0.6/ui-grid.min.css}" href="webjars/angular-ui-grid/4.0.6/ui-grid.min.css" />

    <script type="text/javascript" th:src="@{/webjars/angularjs/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angular-ui-grid/ui-grid.min.js}"></script>

    <script type="text/javascript" th:src="@{/javascript/app.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/app.service.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/holiday.controller.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/casdemo.controller.campus.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/casdemo.controller.role.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{/javascript/app.util.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/holiday.util.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"  src="webjars/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script type="text/javascript" th:src="@{/webjars/respond/1.4.2/dest/respond.min.js}" src="webjars/respond/1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
