<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

    <!--  Content container -->
    <div class="container">
        <div class="jumbotron">
            <h1 class="dropshadow">Identity <span class="amp">&amp;</span> Access Management<br/>CAS Demonstration</h1>
            <p class="lead" th:text="${jumbotron}"></p>
            <div sec:authorize="isAnonymous()">
                <p><a class="btn btn-lg btn-success" href="/casdemo/login"  th:href="@{/login}"  role="button">UH Login Here</a></p>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form action="/casdemo/logout" th:action="@{/logout}" method="post" id="logout_form">
                    <button class="btn btn-lg btn-default" type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div class="row marketing">
            <div class="col-sm-6">
                <p class="h4">
                    Contact Information &nbsp;
                    <a th:href="@{/help/contact}" type="button" class="btn btn-default btn-xs">View</a>
                </p>
                <p>
                    A list of university website and email addresses 
                    to contact us with questions or comments. Please
                    don&apos;t hesitate to contact us with any questions
                    you might have about the application.
                </p>
            </div>
            <div class="col-sm-6">
                <p class="h4">
                    Frequently Asked Questions &nbsp;
                    <a th:href="@{/help/faq}" type="button" class="btn btn-default btn-xs">View</a>
                </p>
                <p>
                    We have assembled responses to a number of common 
                    questions you might have about the process, including
                    where you can find the source code for this application.
                </p>
            </div>
        </div>
    </div>
    <!-- / Content container. -->

    <div th:replace="footer :: copy"></div>
</body>
</html>
