body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    padding-bottom: 50px;
    background-color: white;
}

.navbar {
    background-color: white;
}
.navbar-fixed-top .nav {
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
}
.navbar-fixed-top .navbar-brand {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 50px;
    min-width: 50px;
}
.navbar-fixed-top .navbar-brand > img {
    height: 50px;
    width: 50px;
    background-color: transparent;
}
.navbar-brand.uh-nav-app-name {
    height: 50px;
    width: auto;
    padding-top: 20px;
    background-color: transparent;
}

@media(min-width:768px) {
    body {
        padding-top: 90px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
        padding-bottom: 50px;
    }
    .navbar {
        min-height: 90px;
    }
    .navbar-fixed-top .navbar-brand > img {
        position: fixed;
        top: 0px;
        left: 25px;
        height: 90px;
        width: 90px;
        background-color: transparent;
    }
    .navbar-brand.uh-nav-app-name {
        position: fixed;
        top: 0px;
        left: 115px;
        height: 90px;
        width: auto;
        padding-top: 51px;
        font-size: 22px;
        white-space: nowrap;
        text-align: left;
        background-color: transparent;

    }
}
