body {
    font-size: 13px;
    padding-top: 60px;  
    padding-bottom: 40px;
}

h3 {
   color: #EC7600;    
}

a {
  text-decoration: none;
  font-weight: normal;
  color: #814f11;
}

a:hover {
  text-decoration: underline;
}

a:visited {
    color: #007F0E;
    font-weight: normal;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
    max-width: 640px;
}

.uh-bordered {
    border: solid #ccc 0px; /* frd: was 1px */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
    margin-left: 8px;
    margin-right: 7px;    
}

.uh-bordered td, .uh-bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 3px;
    padding-left: 6px;
    text-align: left;
    vertical-align: top;
}

.uh-bordered th {
    background-color: #A7CC6C;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fbf8e9), to(#A7CC6C));
    background-image: -webkit-linear-gradient(top, #fbf8e9, #A7CC6C);
    background-image:    -moz-linear-gradient(top, #fbf8e9, #A7CC6C);
    background-image:     -ms-linear-gradient(top, #fbf8e9, #A7CC6C);
    background-image:      -o-linear-gradient(top, #fbf8e9, #A7CC6C);
    background-image:         linear-gradient(top, #fbf8e9, #A7CC6C);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
/*    text-shadow: 0 1px 0 rgba(255,255,255,.5); */
    padding-left: 5px;
    color: #5D8238;
}

.uh-bordered td:first-child, .uh-bordered th:first-child {
    border-left: none;
}

.uh-bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.uh-bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.uh-bordered th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.uh-bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.uh-bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

td.uh-pre {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
}

.container-fluid {    
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 5px;
}

.navbar-fixed-top  {
    position: absolute;
    background: url(../images/hdr-seal.jpg) no-repeat top left;
    min-height: 53px; 
    border-width: 0px 0px 0px;    
}

/* The app name and link at top left. */
.navbar-default .navbar-brand {    
    position: absolute;
    left: 8px;
    text-decoration: none;
    color: #FFFFFF; /* #FFFFFF == white */
    margin: 0px 0px 0px 0px;
    padding-top: 17px;
    padding-right: 0px;
    padding-left: 15px;
    padding-bottom: 0px;    
    font: 1.6em verdana,arial,sans-serif;
    letter-spacing: +1px;
    z-index: 1;
}

.navbar-default .navbar-brand:hover {
    color: #FFFFFF;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -10px;
}

.navbar-toggle {
    margin-top: 4px;
}

.nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 0px;
    color: #FFFFFF;
}

.nav > li > a:hover {
    background: linear-gradient(#fbf8e9, #A7CC6C); 
    color: #5D8238;
    font-weight: bold;      
}

/*
.nav > li > a:hover, .nav > li > a:focus { {
    background-color: #FFFFFF; 
}
*/

/* side nav stuff -- start */

.text-center {
  padding-top: 20px;
}

.col-sm-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-sm-10 {    
    padding-left: 0px;
    padding-right: 5px;
}

.navbar-default .navbar-toggle {
    border-color: #FFFFFF; 
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:  #FFFFFF; 
}


#sidebar .nav {
    width: 100%;
    background-color: #A7CC6C; 
}

#sidebar li {
    /*  border:0 #f2f2f2 solid; */
    border:0 #FFFFFF solid;
    border-bottom-width: 1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
       transition: all 0.25s ease-out;
    }
  
    .row-offcanvas-right .sidebar-offcanvas {
        right: -35.5%;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -35.5%;
    }
  
    .row-offcanvas-right.active {
        right: 35.5%;
    }
  
    .row-offcanvas-left.active {
        left: 35.5%;
    }
  
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 35.5%;
    }
  
    #sidebar {
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 0px;    
        text-align: left;
    }
  
    #sidebar .nav > li {
        background: #A7CC6C;
        border-top: 0px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
    }
  
    #sidebar .nav > li:first-child {
        border-top:0;
    }
  
    #sidebar .nav > li > a {
        color: #FFFFFF; 
    }
  
    #sidebar .nav > li > a > img {
        max-width: 14px;
    }
  
    #sidebar .nav > li > a:hover, #sidebar .nav > li > a:focus {
        text-decoration: none;
        background: linear-gradient(#fbf8e9, #A7CC6C);
        color: #5D8238; 
        font-weight: bold;
    }
  
    #sidebar .nav .caret {
        border-top-color: #FFFFFF;
        border-bottom-color: #FFFFFF;
    }
  
    #sidebar .nav a:hover .caret{
        border-top-color: #FFFFFF;
        border-bottom-color: #FFFFFF;
    }
}

