body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar {
    background-color: white;
}
.navbar-fixed-top .nav {
    background-color: white;
    /* padding: 15px 0; */
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-fixed-top .navbar-brand {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 50px;
    min-width: 50px;
}
.navbar-fixed-top .navbar-brand > img {
    height: 50px;
    width: 50px;
}

@media(min-width:768px) {
    body {
        padding-top: 90px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }
    .navbar {
        min-height: 90px;
    }
    .navbar-fixed-top .navbar-brand {
        min-height: 90px;
        min-width: 90px;
        padding-left: 15px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .navbar-fixed-top .navbar-brand > img {
        height: 90px;
        width: 90px;
    }
}
