.navbar {
    min-width: 92px;
    min-height: 92px;
    background-color: white;
}

.navbar .container {
    min-width: 92px;
    min-height: 92px;
    background-color: white;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 15px;

    width: 95%;
}

.navbar .navbar-right {
    min-width: 92px;
    min-height: 92px;
    background-color: white;
}

.navbar .navbar-brand {
    min-width: 92px;
    min-height: 92px;
    background-color: white;
    background: url(../images/seal.jpg);
    background-size: 92px 92px;
    background-repeat: no-repeat;
    background-position: right top;
}

.navbar .navbar-toggle {
    background-color: white;
}

/*
.navbar .site-id {
    color: red;
    background-color: white;

    position: relative;
    top: 60px;
    font-size: 16px;
    padding-left: 10px;
}
*/