#footer {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 1em 0;
    color: #979797;
    font-family: Arial,sans-serif,Helvetica;
    font-size: 10pt;
    font-weight: normal;
    background: url(../images/ftr-line.jpg) repeat-x;
    line-height: 50px;
    text-align: center;
}

#footer_container {
    background:#a7cc6c;
    border: none;
    bottom:0;
    height: 50px;
    left: 0;
    position:fixed;
    width:100%;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: #814f11;
}

a:hover {
  text-decoration: underline;
}

a:visited {
    color: #007F0E;  /*674e25; */
    font-weight: normal;
}
