#uh-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 53px;
    background: url(../images/hdr-bg.gif) repeat-x;
}

#uh-wrapper-header-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 53px; 
    text-align: left;
    width: 100%;
    background: url(../images/hdr-seal.jpg) no-repeat top left;
}

#uh-wrapper-header-left #site-id {
    position: absolute;
    left: 8px;
    text-decoration: none;
    color: #fff; 
    margin: 0px 0px 0px 0px;
    padding-top: 17px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;    
    font: 1.6em verdana,arial,sans-serif;
    letter-spacing: +1px;
    z-index: 1;
}

#uh-wrapper-header-left #version-id {
    position: absolute;
    left: 170px;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 2px 0px;
    font: 1.2em verdana,arial,sans-serif;
    font-weight: bold;
    color: #DF0101;
    letter-spacing: +1px;
    z-index: 2;
}
