#container {
    padding: 0;
    background-color: #FFF;
}
.clear {
    clear: both;
}

img {
    border: 0;
}

/* HEADER STYLES */

h1 {
    display: none;
}

#headerBot {
    width: 955px;
    height: 225;
    overflow: hidden;
    position: absolute;
    top: 80px;
}

#headerBot h2 {
    color: #047E99;
    font-size: 25px;
    margin: 10px 0px 5px;
}


#headerBot a {
    color: #047E99;
}

#forStarters {
    width: 375px;
    height: 250px;
    float: left;
    margin-right: 50px;
}

#news {
    width: 500px;
    height: 250px;
    float: left;
}

/* CONTENT STYLES */


#contents {
    position: absolute;
    top: 500px;
    width: 955px;
}

#contents-sub {
    position: absolute;
    top: 60px;
    margin: 10px;
    width: 955px;
}

.box h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px;
    color: #EC7600;
}


.box {
    width: 308px;
    float: left;
    padding-right: 10px;
}

.box a {
    color: #015D5E;
}

.sub-title {
    color: #047E99;
    font-size: 20px;
    font-weight: bold;
}
.sub-section {
    color: #047E99;
    font-size: 18px;
    font-weight: bold;

}

.size10 {
    font-size: 10px;
}
.size12 {
    font-size: 12px;
}
.sizeTitle {
    font-size: 24px;
    white-space:nowrap;
    padding-bottom: 4px;
}
.helpHeader {
    text-transform: uppercase;

}
.ulGateway {
    margin-left: 0;
    padding-left: 1.1em;
    line-height: 1.4em;
}
.ulHelp {
    margin-left: 0;
    padding-left: 1.5em;
    line-height: 1.2em;
}

table.gate {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid #414f23;    
    border: none;
}
table.gate th {
    vertical-align: bottom;
    text-align: left;
    color: #EC7600;
}
table.gate td {
    vertical-align: top;
    text-align: left;
}